.App {
  text-align: center;
}

.App-header {
  background-color: #aa964d;
  /* min-height: 5vh;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: left;
  justify-content: top;
  text-align: left;
  color: #ffffffe0;
  font-family: Montserrat;
  font-size: calc(10px + 2vmin); */
}
.menutButton {
  margin-right: 2;
}

.App-body {
  background-color: #2b5932;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: Roboto;
  font-size: calc(10px + 2vmin);
}

.logo {
  padding-left: 5px;
  padding-right: 5px;
  /* flex-grow: 1; */
}

.App-link {
  color: #61dafb;
}
